<div class="container-fluid">

  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">Active</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Action</a>
      </div>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Another link</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link disabled">Disabled</a>
    </li>
  </ul>

  <div class="row">

    <div class="col-12 col-md-6 p-3">

      <h4>Chart 01</h4>

      <div class="p-3 my-3 border border-1 rounded-2 bg-body-tertiary">

        <canvas id="chart01" baseChart [labels]="barChartLabels" [datasets]="barChartDatasets" [options]="barChartOptions"
          [type]="'pie'">
        </canvas>

      </div>

    </div>

    <div class="col-12 col-md-6 p-3">

      <h4>Chart 02</h4>

      <div class="p-3 my-3 border border-1 rounded-2 bg-body-tertiary">

        <canvas id="chart02" baseChart [labels]="barChartLabels" [datasets]="barChartDatasets" [options]="barChartOptions"
          [type]="'pie'">
        </canvas>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-12 col-md-6 p-3">

      <h4>Chart 03</h4>

      <div class="p-3 my-3 border border-1 rounded-2 bg-body-tertiary">

        <canvas id="chart03" baseChart [labels]="barChartLabels" [datasets]="barChartDatasets" [options]="barChartOptions"
          [type]="'pie'">
        </canvas>

      </div>

    </div>

    <div class="col-12 col-md-6 p-3">

      <h4>Chart 04</h4>

      <div class="p-3 my-3 border border-1 rounded-2 bg-body-tertiary">

        <canvas id="chart04" baseChart [labels]="barChartLabels" [datasets]="barChartDatasets" [options]="barChartOptions"
          [type]="'pie'">
        </canvas>

      </div>

    </div>

  </div>

</div>